@page "/order_view"
@using Application.Common.Models.General;
@using Application.Features.Orders.Queries.GetAll;
@inject HttpClient HttpClient


<PageTitle>Orders Page</PageTitle>

<h1>Orders</h1>

<p>This page is under construction</p>

<table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                 <th>OrderEvent Status</th>
                <th>Created On </th>
            </tr>
        </thead>
            </table>
